.App {
  font-family: sans-serif;
  text-align: center;
}
.board {
  margin: auto;
  display: grid;
  justify-content: stretch;
  max-width: 500px;
  height: 450px;
}
.drop-button {
  background-color: black;
}

.cell {
  width: 100%;
  border-radius: 100%;
}